html{
    scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}
section {
  padding: 20px 0 90px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #8f9aff;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #bb03ac;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
  color: #2c2a2a;
  font-size: 14px;
  font-weight: 600;
}

.list-group{
  margin-left: -3vh;
}

.list-group-item{
  border: none;
}

.about .content h3 {
  font-weight: 600;
  font-size: 20px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-left: 28px;
  position: relative;
}

.about .content ul li + li {
  margin-top: 10px;
}

.about .content ul i {
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 20px;
  color: #465ee0;
  line-height: 1;
}

.about .content p:last-child {
  margin-bottom: 0;
}
